@import "tailwindcss";




* {
  box-sizing: border-box;
}

:root {
  height: 100vh;
  --font-germania: 'Germania One', cursive;
}

body {
  color: white;
  background-color: black;
  font-family: sans-serif;
}


.font-germania {
  font-family: var(--font-germania);
}

img {
  height: auto;
}
