
@import url('https://fonts.googleapis.com/css2?family=Germania+One&display=swap');
@import "tailwindcss";
 
* {
    box-sizing: border-box;
}
 
body {
    font-family: 'Germania One', sans-serif;
    background: #1B1B1B;
}




